.message .content {
  display: inline-block;
  border: 1px solid #999;
  padding: 2px 8px;
  margin-top: 2px;
  border-radius: 8px;
  position: relative;
}

.message.self {
  text-align: right;
}

.message.self .content {
  background-color: #999;
  color: #fff;
}

.message .time {
  position: absolute;
  font-size: 12px;
  top: 100%;
  left: 4px;
  color: #666;
}

.message.self .time {
  left: auto;
  right: 4px;
}

.message .author {
  font-weight: bold;
}
